header{
	text-align: center;
}
section{
	width: 30%;
	display: inline-block;
	border: 1px solid black;
	padding: 0px;
	box-sizing: border-box;
    margin-left: 10px;
    margin-top: 20px;
	background-color: grey;
}
p#chicken{
	border: 1px solid black;
    text-align: center;
    margin-top: 0;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    float: right;
}
p{
    clear: both;
    padding: 5px;
}
.is{
    background-color: palevioletred;
}
.in{
    background-color: rgb(85, 7, 7);
    color: rgb(221, 221, 221);
}
.mockup{
    background-color: yellow;
}

